apiVersion: v1
kind: ServiceAccount
metadata:
  name: booking-service
  namespace: reservas-app
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: booking-service-role
  namespace: reservas-app
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: booking-service-rolebinding
  namespace: reservas-app
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: booking-service-role
subjects:
  - kind: ServiceAccount
    name: booking-service
    namespace: reservas-app
